<div class="moko-teaser fade-in" id="mokoTeaser">
    <div class="moko-teaser-img">
        <img src="https://raw.githubusercontent.com/SquadBustersLife/SquadBustersLife.github.io/refs/heads/main/assets/moco_Luna_tough_shades_1052x1378.png" 
             alt="Moko" 
             onerror="this.src='https://placehold.co/68x68/252540/7c4dff?text=M'">
    </div>
    <div class="moko-teaser-text">
        <span>Охотник</span>, портал открыт! Улучши свой аутфит перед сражением с монстрами!
    </div>
    <i class="fas fa-arrow-right"></i>
</div>
